<div class="parent-container">
  <div class="header">
    <h1>Featured products</h1>
  </div>
</div>
<div class="container">
  <div class="custom-shape-divider-top-1697362567">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="wrapper" *ngFor="let p of alljeans">
    <div class="product-img">
      <img src="{{p.imagePath}}" [routerLink]="'/details/' + p.type + '/' + p.id" height="320" width="320">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{p.name}}</h1>
        <h2>{{p.brand}}</h2>
        <p>Crafted with precision and attention to detail, these jeans offer a comfortable fit and a sleek, modern look. The shade of grey is both sophisticated and easy to pair with a variety of outfits, making them a go-to choice for casual occasions.  </p>
      </div>
      <div class="product-price-btn">
        <p><span>{{p.price}}</span>$</p>
        <button type="button" *ngIf="isLoggedIn; else viewNowBtn" (click)="checkout(p,1)">Buy Now</button>
        <ng-template #viewNowBtn>
          <button type="button" [routerLink]="'/details/' + p.type + '/' + p.id">View Now</button>
        </ng-template>

      </div>
    </div>
  </div>
  <div class="wrapper" *ngFor="let p of allshoes">
    <div class="product-img">
      <img src="{{p.imagePath}}" [routerLink]="'/details/' + p.type + '/' + p.id" height="320" width="250">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{p.name}}</h1>
        <h2>{{p.description}}</h2>
        <p>Designed in collaboration with legendary basketball player Michael Jordan, these sneakers offer a combination of style, performance, and comfort. </p>
      </div>
      <div class="product-price-btn">
        <p><span>{{p.price}}</span>$</p>
        <button type="button" *ngIf="isLoggedIn; else viewNowBtn" (click)="checkout(p,1)">Buy Now</button>
        <ng-template #viewNowBtn>
          <button type="button" [routerLink]="'/details/' + p.type + '/' + p.id">View Now</button>
        </ng-template>

      </div>
    </div>
  </div>
</div>
