<div class="category-container-wrapper">
  <div class="category-container">
    <div class="category-card">
      <img src="assets/images/shirt.jpg" alt="Shirts">
      <a href="#" class="white-button">Shirts</a>
    </div>

    <div class="category-card">
      <img src="assets/images/jeans.jpg" alt="Jeans">
      <a href="#" class="white-button">Jeans</a>
    </div>

    <div class="category-card">
      <img src="assets/images/shoes.jpg" alt="Shoes">
      <a href="#" class="white-button" routerLink="/browse">Shoes</a>
    </div>
  </div>
</div>
