
<div class="parent-container">
  <div class="header">
    <h1>What we offer</h1>
  </div>
</div>
<div class="page-main page-brands">
  <div class="page-head-banner page-head-banner-layout-text">

    <h1 class="page-head-banner-title page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">

    </h1>

  </div>
  <!--   <ul class="brand-letters"></ul> -->
  <div class="page-brands__search">

  </div>
  <ul class="brands_list">
    <li class="brand_item">
      <h2 class="brand_logo"><a title="NIKE" > <img class="brand_logo" src="https://media.terminalx.com/pub/media/resized/139_96//catalog/category/nike-brand.jpg" alt="NIKE" /> </a></h2>
    </li>
    <li class="brand_item">
      <h2 class="brand_logo"><a title="ADIDAS" > <img class="brand_logo" src="https://media.terminalx.com/pub/media/catalog/category/adidas-LOGO.jpg" alt="ADIDAS" /> </a></h2>
    </li>
    <li class="brand_item">
      <h2 class="brand_logo"><a title="JORDAN" > <img class="brand_logo" src="https://media.terminalx.com/pub/media//catalog/category/JORDAN.jpg" alt="REEBOK" /> </a></h2>
    </li>
    <li class="brand_item">
      <h2 class="brand_logo"><a title="URBAN OUTFITTERS" > <img class="brand_logo" src="https://media.terminalx.com/pub/media/resized/225_96//catalog/category/urbanoutfitters-brand.jpg" alt="URBAN OUTFITTERS" /> </a></h2>
    </li>
    <li class="brand_item">
      <h2 class="brand_logo"><a title="WRANGLER" > <img class="brand_logo" src="https://media.terminalx.com/pub/media/resized/189_96//catalog/category/wrangler.jpg" alt="WRANGLER" /> </a></h2>
    </li>
    <li class="brand_item">
      <h2 class="brand_logo"><a title="LEVIS" > <img class="brand_logo" src="https://media.terminalx.com/pub/media/resized/123_96//catalog/category/levis-brand.jpg" alt="LEVIS" /> </a></h2>
    </li>
    <li class="brand_item">
      <h2 class="brand_logo"><a title="dc" ><img class="brand_logo" src="https://media.terminalx.com/pub/media/catalog/category/dc.jpg" alt="DC" /></a></h2>
    </li>
    <li class="brand_item">
      <h2 class="brand_logo"><a title="TIMBERLAND" ><img class="brand_logo" src="https://media.terminalx.com/pub/media/catalog/category/timberland.jpg" alt="TIMBERLAND" /></a></h2>
    </li>

  </ul>
</div>
