.container {
  width: 80%;
  margin: 0 auto;
  clear: both;

}

a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

nav {
  background-image: linear-gradient(to left, #d53b3b, #f35454);
  box-shadow: none; /* Remove the box shadow */
  height: 80px;
  line-height: 80px;
  position: fixed; /* Position it absolutely */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}

nav.scrollUp {
  transform: translateY(-80px);
}

nav ul.navbar-menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  font-family: "Poppins", sans-serif;
}

nav ul.navbar-menu li {
  display: inline-block;
  margin: 0 20px;
  font-family: "Poppins", sans-serif;
}

nav ul.navbar-menu li a {
  color: white;
  font-size: 34px;
  font-family: 'Aryzena', sans-serif;
  position: relative; /* Added */
}

nav ul.navbar-menu li a::after {
  content: '';
  position: absolute;
  bottom: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transition: width 0.3s ease;
}

nav ul.navbar-menu li a:hover::after {
  width: 100%;
}

nav a#brand {
  text-transform: uppercase;
  float: left; /* Corrected the typo: foat to float */
  color: white;
  font-weight: 800;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

nav button {
  background: none;
  width: 30px;
  height: 40px;
  margin-top: 20px;
  border: none;
  float: right;
  display: inline-block;
  cursor: pointer;
  display: none;
}

nav button span {
  width: 30px;
  height: 40px;
  height: 2px;
  background: #333;
  display: block;
  margin: 5px 0;
}

@media (max-width: 768px) {
  nav ul.navbar-menu {
    display: none;
  }

  nav button {
    display: block;
  }
}
