
<app-navbar></app-navbar>



<main>


  <div class="container" *ngIf="prod">


    <nav class="breadcrumb">
      <ol class="breadcrumb-content">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">{{prod.name}}</a></li>
        <li class="breadcrumb-item active">{{prod.description}}</li>
      </ol>
    </nav>

    <div class="product-main">

      <div class="product-content">

        <div class="product-media">
          <div class="product-image">
            <img class="active" src="{{prod.imagePath}}" alt="...">
          </div>


        </div>

        <div class="product-desc">

          <div class="desc-header">


            <h1 >{{prod.name}}</h1>

            <div class="price">
              <span class="price-old">{{prod.price}}$</span>
              <span class="price-new">{{prod.price - prod.price * 0.2}}$</span>

              <span class="price-discount">-20%</span>
            </div>
          </div>

          <div class="desc-content">
						<span>
							<h4>Available in sizes:</h4>
							<p>{{prod.size}}</p>
						</span>

            <span>
							      <p *ngIf="prod.type=='jean'">Crafted with precision and attention to detail, these jeans offer a comfortable fit and a sleek, modern look. The shade of grey is both sophisticated and easy to pair with a variety of outfits, making them a go-to choice for casual occasions.They are the {{prod.description}}
                      .  </p>
                    <p *ngIf="prod.type=='shoe'">Designed in collaboration with legendary basketball player Michael Jordan, these sneakers offer a combination of style, performance, and comfort.They are the {{prod.description}}
                      air 1 Jordans. </p>

						</span>
          </div>
          <div class="product-detail">
            <ul>
              <li>Color: <span>{{prod.color}}</span></li>
              <li>Available: <span>in stock</span></li>
              <li>Category: <span>{{prod.type}}s</span></li>
              <li>Shipping Area: <span>All over the world</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

          <div class="purchase-info">
            <input type="number" min="0" value="1">
            <button type="button" class="btn">Buy now</button>
            <button type="button" class="btn">
              Add to Cart <i class="fas fa-shopping-cart"></i>
            </button>

          </div>


        </div>
      </div>
    </div>
  </div>


</main>

<app-other [productType]="productType"></app-other>
<app-footer></app-footer>


