<app-navbar></app-navbar>



<div class="filter">
  <div class="filter-sidebar">

    <h6 class="filter-item-title" >Search</h6>
    <div class="filter-item filter-search">
      <input type="text" class="filter-search-value">
      <i class="fa fa-search filter-search-icon"></i>
    </div>

    <h6 class="filter-item-title">Cost</h6>
<!--    <form [formGroup]="priceForm">-->

<!--      <input class="filter-item-title" type="range" id="price" name="price" [min]="minPrice" [max]="maxPrice" formControlName="price" (input)="onPriceChange()">${{ priceForm.value.price }}-->

<!--    </form>-->

    <div class="separator"></div>

    <h6 class="filter-item-title">Colors</h6>
    <div class="filter-item filter-color">
      <div class="filter-color-item">
        <input type="text" class="filter-color-checkbox">
        <label for="" class="filter-color-value"></label>
      </div>
      <div class="filter-color-item">
        <input type="text" class="filter-color-checkbox">
        <label for="" class="filter-color-value"></label>
      </div>
      <div class="filter-color-item">
        <input type="text" class="filter-color-checkbox">
        <label for="" class="filter-color-value"></label>
      </div>
      <div class="filter-color-item">
        <input type="text" class="filter-color-checkbox">
        <label for="" class="filter-color-value"></label>
      </div>
      <div class="filter-color-item">
        <input type="text" class="filter-color-checkbox">
        <label for="" class="filter-color-value"></label>
      </div>
      <div class="filter-color-item">
        <input type="text" class="filter-color-checkbox">
        <label for="" class="filter-color-value"></label>
      </div>
    </div>

    <div class="separator"></div>

    <h6 class="filter-item-title">Brand</h6>
    <div class="filter-item filter-brand">
      <div class="filter-checkbox-item">
        <input type="checkbox" class="filter-checkbox-value" name="filter-brand-checkbox" id="filter-brand-1">
        <label for="filter-brand-1" class="filter-checkbox-text">Nike</label>
      </div>
      <div class="filter-checkbox-item">
        <input type="checkbox" class="filter-checkbox-value" name="filter-brand-checkbox" id="filter-brand-2">
        <label for="filter-brand-2" class="filter-checkbox-text">Jordan</label>
      </div>
      <div class="filter-checkbox-item">
        <input type="checkbox" class="filter-checkbox-value" name="filter-brand-checkbox" id="filter-brand-3">
        <label for="filter-brand-3" class="filter-checkbox-text">Adidas</label>
      </div>
      <div class="filter-checkbox-item">
        <input type="checkbox" class="filter-checkbox-value" name="filter-brand-checkbox" id="filter-brand-4">
        <label for="filter-brand-4" class="filter-checkbox-text">Levis</label>
      </div>
      <div class="filter-checkbox-item">
        <input type="checkbox" class="filter-checkbox-value" name="filter-brand-checkbox" id="filter-brand-5">
        <label for="filter-brand-5" class="filter-checkbox-text">Denim</label>
      </div>
      <div class="filter-checkbox-item">
        <input type="checkbox" class="filter-checkbox-value" name="filter-brand-checkbox" id="filter-brand-6">
        <label for="filter-brand-6" class="filter-checkbox-text">Timberland</label>
      </div>
    </div>

    <div class="separator"></div>

    <h6 class="filter-item-title">Model</h6>


    <div class="separator"></div>


  </div>
  <div class="cart" [ngClass]="{ 'open': isCartOpen }" *ngIf="cartItems && cartItems.length > 0">
    <header>
      <span class="close" (click)="closeMenu()">+</span>
      <li *ngFor="let cartItem of cartItems">
        <p><strong>{{ cartItem.price }}</strong> - {{ cartItem.description }} <i class="fa fa-trash" (click)="removeFromCart(cartItem)"></i></p>
        <img src="{{cartItem.imagePath}}" style="width: 120px" height="140px">
      </li>
    </header>
    <div>
      <p>Some items in cart...</p>
    </div>
    <div *ngIf="cartItems && cartItems.length === 0">
      <p>Your cart is empty!</p>
    </div>
  </div>
  <div class="filter-content">
    <!-- Card section  -->
    <div class="card" *ngFor="let p of allshoes">
      <!--card top section-->

      <div class="card-top"   routerLink="/details/{{p.type}}/{{p.id}}">
        <div class="top-circle"></div>
        <div class="logo-img" >
          <img src="https://i.postimg.cc/vBJtjtRC/nike-logo.png" alt="">
        </div>
        <img class="product-img"
             src="{{p.imagePath}}" alt="">
      </div>

      <!--end of card top section-->
      <h1 class="brand-name">{{p.description}}</h1>
      <h2 class="brand-desc">{{p.name}} </h2>

      <div class="prices">



      </div>
      <div class="card-bottom product-info">
        <div class="product-info-top">
          <div class="sizes">
            <span class="sizes-text"></span>
            <div class="sizes-inner">
              <div class="sizes-size" >${{p.price}}</div>
              <button class="btn-hover color-1" (click)="addToCart(p)">Add to cart</button>
            </div>









        </div>


      </div>
    </div>


    </div>

  </div>

</div>

<!-- Add this section in your HTML template -->



