@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

html, body {
  width: 100%;


}


.filter {
  height: 900px;

  margin-left: 10px;
  margin-top: 100px;
  background: transparent;
  display: flex;


}

.filter-sidebar {

  border: 1px solid #F2F2F2;
  box-shadow: 0px 4px 8px -4px rgba(34, 60, 80, 0.2);
  padding-bottom: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}

.filter-header {
  height: 65px;
  border-bottom: 1px solid #F2F2F2;
}

.filter-title {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  height: 100%;
  padding-left: 30px;
  color: #FF5959;
}

.filter-item-title {
  font-family: "Exo", sans-serif;
  font-weight: bold;
  color: #555;
  margin: 20px 30px 10px 30px;
}

.filter-item-title .input {
  font-family: "Khand", sans-serif;
}

.filter-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 30px;
  align-items: center;
  flex-direction: row;
}

.filter-search, .filter-price {
  height: 45px;
}

.filter-search-value {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e2e3;
  border-radius: 4px;
  outline: none;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}

.filter-search-icon {
  position: absolute;
  right: 15px;
  color: #e1e2e3;
}

.filter-price-value {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e2e3;
  border-radius: 4px;
  outline: none;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}

.filter-color {

  height: 50px;
}

.filter-color-checkbox, .filter-checkbox-value {
  display: none;
}

/*.selected-shoe {*/
/*  transform: scale(1.1); !* You can adjust the scale factor for the desired pop-out effect *!*/
/*  transition: transform 0.3s ease-in-out;*/
/*}*/

.filter-color-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.filter-color-item:hover {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.filter-color-item:nth-child(1) .filter-color-value {
  background: #FF5959;
}

.filter-color-item:nth-child(2) .filter-color-value {
  background: green;
}

.filter-color-item:nth-child(3) .filter-color-value {
  background: dodgerblue;
}

.filter-color-item:nth-child(4) .filter-color-value {
  background: black;
}

.filter-color-item:nth-child(5) .filter-color-value {
  background: #e18540;
}

.filter-color-item:nth-child(6) .filter-color-value {
  background: #87AAAA;
}


.filter-color-value {
  display: flex;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.separator {
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
  margin: 25px 0;
}

.filter-brand, .filter-model, .filter-os {
  min-height: 50px;
  flex-direction: column;
}

.filter-checkbox-item {
  width: 100%;
  height: 35px;
}

.filter-checkbox-value:checked + .filter-checkbox-text:before {
  background: #FF5959;
  border-color: #FF5959;
}

.filter-checkbox-text {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left: 30px;
  cursor: pointer;
  color: #333;
  box-sizing: border-box;
  transition: all 0.2s;
}

.filter-checkbox-text:before {
  transition: all 0.2s;
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 0;
  border-radius: 2px;
  border: 2px solid #747474;
}

.filter-content {
  width: 1700px;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 50px;*/
}


.filter-goods {
  /*width: calc(15.33% - 20px); !* Adjust the width for three items per row *!*/
  margin-bottom: 20px; /* Add margin to create space between items */
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.filter-goods-item {
  min-height: 400px;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  padding: 20px; /* Adjust the padding as needed */
}

.filter-goods-header {
  /*height: 250px;*/
  padding: 30px 0 20px 0;
  display: flex;
  justify-content: center;
}

.filter-goods-body {
  box-sizing: border-box;
  padding: 10px 30px;
}

.filter-goods-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  height: 30px;
  text-align: center;
  color: #333;
}

.filter-goods-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  height: 40px;
}

.filter-goods-price-discount {
  display: flex;
  font-weight: bold;
  color: #FF5959;
  font-size: 18px;
}

.filter-goods-price-discount i {
  color: #333;
  margin-left: 5px;
}

.filter-goods-price-old {
  font-size: 12px;
  color: #7F7C82;
  text-decoration: line-through;
}

.filter-goods-discount {
  font-weight: bold;
  color: #B2B1B9;
  align-self: start;
  font-family: "Quicksand", sans-serif;
}

.filter-goods-reviews {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin: 10px 0;
}

.filter-goods-reviews-count {
  color: #FF5959;
}

.filter-goods-eval {
  justify-content: flex-start;
  height: 25px;
  margin-top: 15px 0;

}

.filter-goods-eval i {
  margin-right: 8px;
  color: #EEEEEE;
}

.fa-star-active {
  color: #FFD523 !important;
}

.filter-goods-footer {
  padding: 15px 28px 15px 30px;
  height: 40px;
  border-top: 1px solid #F2F2F2;
  display: flex;
  justify-content: space-between;
}

.filter-goods-button {
  background: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 40px;
  color: #FFF;
}

.filter-goods-favorite {
  background: #5C7AEA;
}

.filter-goods-more {
  background: #FFC107;
}

.filter-goods-compare {
  background: #4AA96C;
}

.filter-goods-cart {
  background: #FF5959;
}

.filter-goods-picture {
  width: 150px;
  height: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed");
body {
  background: #ccc;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column; /* Set to column */
  height: 400px;
  width: 320px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: black;
  box-shadow: 0 0 40px rgba(5, 4, 4, 0.2);
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 20px;
  background-image: url("src/assets/images/vector.jpg");
  background-size: 600px 400px;

  /*animation: movimiento 3.5s linear infinite ;*/
}

@keyframes movimiento {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 20px 20px;
  }
  20% {
    background-position: 40px 40px;
  }
  30% {
    background-position: 60px 75px;
  }
}

.selected-shoe {
  transform: scale(1); /* You can adjust the scale factor for the desired pop-out effect */
}

@keyframes popOut {
  0% {
    transform: scale(0.4);
  }
  20% {
    transform: scale(0.6);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1);
  }
}

.filter-content.popOutEffect {
  animation: ease-in-out 0.3s ease-in-out;
}

.card .logo-img img {
  width: 30px;
  height: 15px;
  position: absolute;
  top: 10%;
  right: 5%;
}

.card-top {
  height: 100%;
  position: relative;
  overflow: hidden;


}

.top-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f4715b;
  border-top-right-radius: 5px;
  clip-path: circle(1px at 70% 150px);
  transition: all 0.5s ease-in-out;
}

.card .top-circle {
  clip-path: circle(130px at 90% 100px);
}

.card:hover .top-circle {
  clip-path: circle(320px at 90% -20%);
  opacity: 0.7;

}

.product-img {
  position: absolute;
  width: 87%;
  transform: rotate(360deg) scaleX(1.1);
  z-index: 2;
  height: 280px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: all 0.5s ease-in-out;


}

.button:hover {
  background: #c28282;
}

.card:hover .product-img {
  margin-top: 0px;
  transform: rotate(330deg) scaleX(1.1);
}

.wider-sidebar {
  width: 0px; /* Adjust the width as needed */
  /* Add any other styling you need for the wider sidebar */
}

.brand-name {
  position: absolute;
  left: 28%;
  opacity: 0;
  z-index: 1;
  font-size: 20px;
  color: #08885f;
  transform: translateY(-50px);
  font-family: 'Aryzena', sans-serif;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.card:hover .brand-name {
  transform: translateY(320px);
  transition-delay: 0.1s;
  opacity: 1;
}

.brand-desc {
  position: absolute;
  left: 28%;

  z-index: 1;
  font-size: 22px;
  color: black;
  transform: translateY(290px);

  font-family: 'Khand', sans-serif;
  font-style: italic;
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.5s;
}

/*.card:hover .brand-desc{*/
/*  transform: translateY(-270px);*/
/*  transition-delay: 0.1s;*/
/*}*/
.prices {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items in the center horizontally */
  margin-top: 10px; /* Adjust margin */

  margin-top: 0px;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.65s;
  margin-left: 200px;
  transform: translateY(18px);

}

.btn-hover {
  width: 100px;
  font-size: 12px;

  color: #fff;
  cursor: pointer;
  font-family: 'Khand', sans-serif;
  height: 30px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  letter-spacing: 1px;
  padding: 2px 10px;

  text-decoration: none;
  border: none;
  background-image: linear-gradient(to right, #40e495, #30dd8a, #2de78c);
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;

  border-radius: 10px;

  transition: transform 0.5s ease-in-out;
  transition-delay: 0.65s;
  margin-right: 0px;

  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;

}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.prices a {
  font-size: 12px;
  text-decoration: none;
  border: none;
  background-image: linear-gradient(to right, #40e495, #30dd8a, #2de78c);
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.65s;
  margin-right: 0px;

}

.prices a:hover {
  background-image: #4AA96C;

}

.product-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0 0 10px;
  height: 500px;
}

.product-info-top {
  display: flex;
  flex-direction: column;
  flex: 1;
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition-delay: 0.35s;
  transform: translateY(-10px);
}


.product-info-brand {
  font-size: 16px;
  text-transform: uppercase;
}

.product-info-product {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.product-info_product-text {
  font-family: "Khand", sans-serif;
  font-weight: 900;
}

.product-info_product-price {
  font-size: 19px;
}

.sizes-text {
  font-size: 10px;

}

.sizes-inner {
  display: flex;
  padding: 2px 0;
  margin-left: 15px;
}

.sizes-size {
  padding: 2px 6px;
  margin-right: 125px;
  border-radius: 10px;
  background: #f4715b;
  color: white;
  box-shadow: 0 0 40px #0000001a;
  font-weight: 700;
  transition: background 0.3s ease-in-out;
}

.sizes-size:hover {
  background: #d53b3b;
  color: white;
}

svg {
  width: 1.2rem;
  aspect-ratio: 1;
}

path {
  fill: #2c2c2c;
}

button:focus-visible,
button:hover {
  box-shadow: 0 2px 14px 2px #f9d949;
}

.cart {
  color: white;
  right: 0;
  width: 400px;
  height: auto;
  position: absolute;
  background-color: #2c2c2c;
  transform: translatex(50%);
  border-top: 3px solid #f9d949;


  /*transition-delay: 0.5s;*/

  z-index: 3;
  position: fixed;


  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.3s ease; /* Add a transition effect to 'right' property */
}

.cart.open {
  right: 0; /* Move the cart to the visible position */
}

.cart header {

  margin: 0.2rem 0;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.cart header p {
  flex-grow: 2;
  font-size: 1.3rem;
  padding-right: 1.5rem;
  text-align: center;
}

.cart header span {
  rotate: 45deg;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
  display: inline-block;
}

.cart div {
  padding: 1rem;
  opacity: 0.4;
  text-align: center;
}

.cart.active {
  transform: translatex(0);
}

@media (max-width: 700px) {
  .cart {
    width: 100%;
  }
}
